.idea
Java/strategy/.idea
Java/strategy/strategy.iml
Java/strategy/out
Java/Observer/.idea
Java/Observer/Observer.iml
Java/Observer/out
Java/decorator/.idea
Java/decorator/decorator.iml
Java/decorator/out
Java/factory/.idea
Java/factory/factory.iml
Java/factory/out
Java/singleton/.idea
Java/singleton/singleton.iml
Java/singleton/out
Java/command/.idea
Java/command/command.iml
Java/command/out
Java/adapter/.idea
Java/adapter/adapter.iml
Java/adapter/out
Java/facade/.idea
Java/facade/facade.iml
Java/facade/out
Java/templatem/.idea
Java/templatem/templatem.iml
Java/templatem/out
Java/collections/.idea
Java/collections/collections.iml
Java/collections/out
Java/state/.idea
Java/state/state.iml
Java/state/out
Java/proxy/.idea
Java/proxy/proxy.iml
Java/proxy/out